<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <title>上传</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/2.0.0/style/weui.min.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div id="app">
        <div class="weui-cells weui-cells_form" v-show="SecretKey" style="display:none;">
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">空间名称</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" v-model="Bucket" disabled>
                        <option value="cosplay-1254176432">cosplay-1254176432</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">所属地域</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" v-model="Region" disabled>
                        <option value="ap-shanghai">ap-shanghai（上海）</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">SecretKey</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" v-model="SecretKey" disabled />
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">选择路径</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" v-model="path" @change="changepath">
                        <option value="img">img</option>
                        <option value="poster">poster</option>
                        <option value="video">video</option>
                    </select>
                </div>
            </div>
            <div class="weui-btn-area">
                <label class="weui-btn weui-btn_primary" for="file-selector">上传</label>
                <label class="weui-btn weui-btn_warn" onclick="sessionStorage.clear();location.reload();">remove</label>
            </div>
        </div>

        <input id="file-selector" type="file" @change="fileChang" style="display:none;" />
        <div class="tableview">
        <table>
            <tr v-for="(item,index) in sessionList" :key="index">
                <td @click.prevent="copys(index)"><input :id="'copys'+index" type="text" :value="item" readonly="readonly" class="weui-input"></td>
                <td style="width: 50px;text-align: center;">
                    <a :href="item" target="_blank" rel="noopener" style="display: inline-block;">
                     <img v-lazy="item" width="50" height="50" />
                    </a>
                </td>
                <td style="width:3em;text-align: center;">
                    <a style="color:#f00" @click.prevent="rem(index)" :href="'#sessionList'+index">删除</a>
                </td>
            </tr>
        </table>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="https://cdn.bootcss.com/vue-lazyload/1.3.2/vue-lazyload.js"></script>
    <script src="weui.min.js"></script>
    <script src="cos-js-sdk-v5.js"></script>
    <script>
         Vue.use(VueLazyload, {
                attempt: '1',
                loading: 'https://cosplay-1254176432.cos.ap-shanghai.myqcloud.com/img/load.jpg',
                error: 'https://cosplay-1254176432.cos.ap-shanghai.myqcloud.com/img/errload.jpg'
            });
        var vue = new Vue({
            el: '#app',
            data: {
                path: 'img',
                Bucket: 'cosplay-1254176432',
                Region: 'ap-shanghai',
                SecretId: 'AKIDZx60f4A2cz83nLlkcHiusc9SXNzOmXEj',
                SecretKey: localStorage.getItem("SecretKey") || null,
                Key: new Date().toISOString().split('T')[0],
                cos: null,
                sessionList:[],
                imgfilelist: JSON.parse(sessionStorage.getItem("imgfilelist")) || [],
                posterfilelist: JSON.parse(sessionStorage.getItem("posterfilelist")) || [],
                videofilelist: JSON.parse(sessionStorage.getItem("videofilelist")) || []
            },
            methods: {
                fileChang() {
                    const file = document.getElementById('file-selector').files[0];
                    this.putObject(file);
                },
                changepath(){
                    var path = this.path;
                    if (path == "img") {
                        this.sessionList = this.imgfilelist;
                    } else if (path == "poster") {
                        this.sessionList = this.posterfilelist;
                    } else if (path == "video") {
                        this.sessionList = this.videofilelist;
                    } 
                },
                putObject(file) {
                    const vm = this;
                    let loading = weui.loading('loading');
                    var num= parseInt(Math.random() * (999999 - 100000 + 1) + 100000, 10);
                    var name = num +"."+ file.name.toLowerCase().split('.').splice(-1);
                    vm.cos.putObject({
                        Bucket: vm.Bucket,
                        Region: vm.Region,
                        Key: `${vm.path}/${vm.Key}/${name}`,
                        Body: file,
                    }, function (err, data){
                        document.getElementById('file-selector').value = "";
                        if (data.statusCode == 200) {
                            vm.setItems(data.Location)
                        }
                        loading.hide();
                    });
                },
                initCos() {
                    const vm = this;
                    vm.cos = new COS({
                        SecretId: vm.SecretId,
                        SecretKey: vm.SecretKey,
                        Protocol: 'https:'
                    });
                },
                setKey() {
                    const vm = this;
                    const Key = `<textarea class="weui-textarea" id="Key" placeholder="SecretKey" rows="4"></textarea>`;
                    const setItemSecretKey = weui.alert(Key, function () {
                        let keyVal = $('#Key').val();
                        if (!keyVal) {
                            weui.topTips('no SecretKey null');
                        } else {
                            localStorage.setItem("SecretKey", keyVal.replace(/\s*/g, ""));
                            window.location.reload();
                        }
                        return false;
                    });
                },
                //
                setItems(url) {
                    var path = this.path;
                    var key;

                    if (path == "img") {
                        this.imgfilelist.push('https://' + url);
                        sessionStorage.setItem("imgfilelist", JSON.stringify(this.imgfilelist));
                    } else if (path == "poster") {
                        this.posterfilelist.push('https://' + url);
                        sessionStorage.setItem("posterfilelist", JSON.stringify(this.posterfilelist));
                    } else if (path == "video") {
                        this.videofilelist.push('https://' + url);
                        sessionStorage.setItem("videofilelist", JSON.stringify(this.videofilelist));
                    }
                    this.changepath();
                   
                    
                },
                copys(index){
                    $('#copys'+index)[0].select()
                },
                rem(index){
                    var path = this.path;
                    if (path == "img") {
                        this.imgfilelist.splice(index,1);
                        sessionStorage.setItem("imgfilelist", JSON.stringify(this.imgfilelist));
                    } else if (path == "poster") {
                        this.posterfilelist.splice(index,1);
                        sessionStorage.setItem("posterfilelist", JSON.stringify(this.posterfilelist));
                    } else if (path == "video") {
                        this.videofilelist.splice(index,1);
                        sessionStorage.setItem("videofilelist", JSON.stringify(this.videofilelist));
                    }
                    this.changepath();
                }
            },
            mounted() {
                const vm = this;
                document.addEventListener('paste', function (event) {
                    var items = event.clipboardData && event.clipboardData.items;
                    var file = null;
                    if (items && items.length) {
                        for (var i = 0; i < items.length; i++) {
                            if (items[i].type.indexOf('image') !== -1) {
                                file = items[i].getAsFile();
                                break;
                            }
                        }
                    }
                    if(file && file.type.indexOf('image') != -1){
                        vm.putObject(file);
                    }
                    
                });
                const SecretKey = this.SecretKey;
                if (SecretKey) {
                    this.initCos();
                } else {
                    this.setKey();
                }
                 this.changepath();
            },
        });

        // sessionStorage.setItem("key", "value");
        // sessionStorage.getItem("key");
        // sessionStorage.removeItem("key");

    </script>
</body>

</html>