<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <title>cosplay</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/2.0.0/style/weui.min.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div id="app">
        <br />
        <input type="file" id="excel-file">
        <form action="" @submit.prevent="submit">
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">文章分类</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" v-model="form.categoryId" @change="queryinfo">
                            <option v-for="(item,index) in categorylist" :key="index" :value="item.id">{{item.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">头像</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" v-model="form.pic" placeholder="头像" type="text">
                    </div>
                    <div class="weui-cell__ft" v-if="form.pic">
                        <img height="27" style="outline: 1px solid #eee;" :src="form.pic" />
                    </div>
                </div>
                <div class="weui-cell" style="align-items: unset;">
                    <div class="weui-cell__hd">
                        <label class="weui-label">内容</label>
                    </div>
                    <div class="weui-cell__bd">
                        <textarea class="weui-textarea" v-model="form.title" placeholder="输入内容" rows="4"></textarea>
                    </div>
                </div>

                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">类型</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" v-model="form.keywords">
                            <option value="img">img</option>
                            <option value="video">video</option>
                        </select>
                    </div>
                </div>
                <div v-if="form.keywords=='img'">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <textarea class="weui-textarea" placeholder="图片1" rows="4"
                                v-model="form.descript"></textarea>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <textarea class="weui-textarea" placeholder="图片2" rows="4" v-model="form.tags"></textarea>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <textarea class="weui-textarea" placeholder="图片3" rows="4" v-model="form.income"></textarea>
                        </div>
                    </div>
                </div>
                <div v-if="form.keywords=='video'">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <textarea class="weui-textarea" placeholder="封面" rows="4" v-model="form.tags"></textarea>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <textarea class="weui-textarea" placeholder="视频" rows="4"
                                v-model="form.descript"></textarea>
                        </div>
                    </div>
                </div>
                <div v-if="form.keywords=='img'">
                    <a v-for="item1s in splits(form.tags)" :key="item1s" class="imgview" :href="item1s"
                        target="_blank"><img width="50" :src="item1s" alt=""></a>
                    <a v-for="item2s in splits(form.descript)" :key="item2s" class="imgview" :href="item2s"
                        target="_blank"><img width="50" :src="item2s" alt=""></a>
                    <a v-for="item3s in splits(form.income)" :key="item3s" class="imgview" :href="item3s"
                        target="_blank"><img width="50" :src="item3s" alt=""></a>
                </div>
                <div v-if="form.keywords=='video'">
                    <a class="imgview" :href="form.descript" target="_blank"><img height="100" :src="form.tags"
                            alt=""></a>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">排序</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" v-model="form.paixu" placeholder="排序">
                    </div>
                </div>
                <div class="weui-cell weui-cell_switch">
                    <div class="weui-cell__bd">推荐</div>
                    <div class="weui-cell__ft">
                        <input class="weui-switch" type="checkbox" v-model="form.isRecommend">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">状态</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" v-model="form.status">
                            <option value="2">审核通过</option>
                            <option value="0">待审核</option>
                            <option value="1">审核不通过</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="weui-btn-area">
                <button class="weui-btn weui-btn_primary" type="submit">{{form.id?'修改':'添加'}}</button>
            </div>
        </form>

        <div class="weui-panel">
            <div class="weui-panel__hd">({{newsList.length}})</div>
            <div class="weui-panel__bd">
                <div class="weui-form-preview" v-for="(e,index) in newsList" :key="index">
                    <div class="weui-form-preview__bd">


                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label" v-if="e.status==1" style="color:#f00">标题</label>
                            <label class="weui-form-preview__label" v-else>标题</label>
                            <span class="weui-form-preview__value">【{{e.paixu}}】- {{e.title}}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">名字</label>
                            <span class="weui-form-preview__value">{{e.author}}</span>
                        </div>
                        <div class="weui-form-preview__item" style="align-items: unset;">
                            <label class="weui-form-preview__label">头像</label>
                            <span class="weui-form-preview__value">
                                <a class="imgview" :href="e.pic" target="_blank"><img width="50" v-lazy="e.pic"
                                        alt=""></a>
                            </span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">{{e.keywords}}</label>
                            <span class="weui-form-preview__value" v-if="e.keywords=='img'">
                                <a v-for="item1 in splits(e.tags)" :key="item1" class="imgview" :href="item1"
                                    target="_blank"><img width="50" v-lazy="item1" alt=""></a>
                                <a v-for="item2 in splits(e.descript)" :key="item2" class="imgview" :href="item2"
                                    target="_blank"><img width="50" v-lazy="item2" alt=""></a>
                                <a v-for="item3 in splits(e.income)" :key="item3" class="imgview" :href="item3"
                                    target="_blank"><img width="50" v-lazy="item3" alt=""></a>
                            </span>
                            <span class="weui-form-preview__value" v-if="e.keywords=='video'">
                                <a class="imgview" :href="e.descript" target="_blank"><img height="100" v-lazy="e.tags"
                                        alt=""></a>
                            </span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">推荐</label>
                            <span class="weui-form-preview__value">{{e.isRecommend}}</span>
                        </div>
                        <div class="weui-form-preview__item">
                                <label class="weui-form-preview__label">状态</label>
                                <span class="weui-form-preview__value">{{e.statusStr}}[{{e.status}}]</span>
                            </div>
                    </div>
                    <div class="weui-form-preview__ft">
                        <button class="weui-form-preview__btn weui-form-preview__btn_default"
                            @click="edit(index)">编辑</button>
                        <button type="button" class="weui-form-preview__btn weui-form-preview__btn_primary"
                            @click="rem(index)">删除</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.js"></script>
    <script src="https://cdn.bootcss.com/vue-lazyload/1.3.2/vue-lazyload.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="weui.min.js"></script>
    <script src="xlsx.core.min.js"></script>
    <script>
        Vue.use(VueLazyload, {
            attempt:'1',
            loading:'https://cosplay-1254176432.cos.ap-shanghai.myqcloud.com/img/load.jpg',
            error:'https://cosplay-1254176432.cos.ap-shanghai.myqcloud.com/img/errload.jpg'
        });
        var vue = new Vue({
            el: '#app',
            data: {
                categorylist: [],
                newsList: [],
                loading: null,
                form: {
                    status:2,
                    isRecommend: false,
                    pid: 0,
                    content: new Date().getTime(),
                    paixu: 0,
                    keywords: 'img'
                }
            },
            methods: {
                checkToken() {
                    var vm = this;
                    $.ajax({
                        type: "get",
                        url: "https://user.api.it120.cc/user/checkToken",
                        headers: { 'X-Token': window.localStorage.getItem("Token") || '' },
                        dataType: "json",
                        success: function (response) {
                            if (response.code == 0) {
                                vm.getnews();
                            } else {
                                location.href = "/test";
                            }
                        }
                    });
                },
                splits(e) {
                    var arr = [];
                    if (e) {
                        arr = e.split('|') || []
                    }
                    return arr;
                },
                queryinfo() {
                    var vm = this;
                    var id = vm.form.categoryId;
                    var array = vm.categorylist || [];
                    for (let index = 0; index < array.length; index++) {
                        if (array[index].id == id) {
                            vm.form.pic = array[index].icon;
                            vm.form.author = array[index].name;
                            console.log(array[index])
                            break;
                        }

                    }
                },
                getnews() {
                    var vm = this;
                    var data = {
                        page: 1,
                        pageSize: 10000
                    };
                    vm.loading = weui.loading('loading');
                    $.ajax({
                        type: "post",
                        url: "https://user.api.it120.cc/user/apiExtNewsCategory/list",
                        headers: { 'X-Token': window.localStorage.getItem("Token") || '' },
                        data: data,
                        dataType: "json",
                        success: function (res) {
                            console.log(res)
                            if (res.code === 0) {
                                vm.categorylist = res.data;
                                $.ajax({
                                    type: "post",
                                    data: data,
                                    url: "https://user.api.it120.cc/user/apiExtNews/list",
                                    headers: { 'X-Token': window.localStorage.getItem("Token") || '' },
                                    dataType: "json",
                                    success: function (rest) {
                                        console.log(rest)
                                        if (rest.code === 0) {
                                            vm.newsList = rest.data.result;
                                        } else {
                                            weui.topTips(rest.msg);
                                        }
                                        vm.loading.hide();
                                    }
                                });
                            } else {
                                weui.topTips(res.msg);
                            }

                        }
                    });
                },
                submit() {
                    var vm = this;
                    var data = this.form;
                    if (!data.categoryId || !data.descript || !data.title) {
                        weui.topTips('填写必要信息');
                        return;
                    };
                    vm.loading = weui.loading('提交中');
                    $.ajax({
                        type: "post",
                        url: "https://user.api.it120.cc/user/apiExtNews/save",
                        headers: { 'X-Token': window.localStorage.getItem("Token") || '' },
                        data: data,
                        dataType: "json",
                        success: function (response) {
                            vm.loading.hide();
                            if (response.code == 0) {
                                weui.alert('成功', function () {
                                    location.reload();
                                });
                            } else {
                                weui.topTips(response.msg);
                            }
                        }
                    });


                },
                edit(index) {
                    window.scrollTo(0, 0);
                    this.form = this.newsList[index];
                    this.queryinfo();
                },
                rem(index) {
                    var vm = this;
                    weui.confirm(`确定删除？`, {
                        title: '警告',
                        buttons: [{
                            label: '取消',
                            type: 'default',
                            onClick: function () {
                                console.log('no')
                            }
                        }, {
                            label: '删除',
                            type: 'primary',
                            onClick: function () {
                                vm.loading = weui.loading('删除中');
                                $.ajax({
                                    type: "post",
                                    url: "https://user.api.it120.cc/user/apiExtNews/del",
                                    headers: { 'X-Token': window.localStorage.getItem("Token") || '' },
                                    data: { id: vm.newsList[index].id },
                                    dataType: "json",
                                    success: function (response) {
                                        vm.loading.hide();
                                        if (response.code == 0) {
                                           location.reload();
                                        } else {
                                            weui.topTips(response.msg);
                                        }
                                    }
                                });
                            }
                        }]
                    });
                }
            },
            mounted() {
                this.checkToken();
            },
        })
    </script>
    <script type="text/javascript">
        $('#excel-file').change(function (e) {
            var files = e.target.files;

            var fileReader = new FileReader();
            fileReader.onload = function (ev) {
                try {
                    var data = ev.target.result,
                        workbook = XLSX.read(data, {
                            type: 'binary'
                        }), // 以二进制流方式读取得到整份excel表格对象
                        persons = []; // 存储获取到的数据
                } catch (e) {
                    console.log('文件类型不正确');
                    return;
                }

                // 表格的表格范围，可用于判断表头是否数量是否正确
                var fromTo = '';
                // 遍历每张表读取
                for (var sheet in workbook.Sheets) {
                    if (workbook.Sheets.hasOwnProperty(sheet)) {
                        fromTo = workbook.Sheets[sheet]['!ref'];
                        console.log(fromTo);
                        persons = persons.concat(XLSX.utils.sheet_to_json(workbook.Sheets[sheet]));
                        // break; // 如果只取第一张表，就取消注释这行
                    }
                }

                console.log(persons);
                ajaxAppend(persons);

            };
            // 以二进制方式打开文件
            fileReader.readAsBinaryString(files[0]);
        });
        String.prototype.myReplace = function (f, e) {//吧f替换成e
                var reg = new RegExp(f, "g"); //创建正则RegExp对象   
                return this.replace(reg, e);
            }
        function ajaxAppend(arr){
            for (let j = 0; j < arr.length; j++) {
                let arrs = arr[j];
                let data = {
                    "status": 2,
                    "isRecommend": false,
                    "pid": 0,
                    "content": new Date().getTime(),
                    "paixu": 0,
                    "keywords": "video",
                    "categoryId": 5554,
                    "pic": "https://cosplay-1254176432.cos.ap-shanghai.myqcloud.com/img/%E6%AD%AA%E5%AD%97%E5%85%B8.jpg",
                    "author": "歪字典",
                    "tags": arrs["动图"],
                    "descript": arrs["视频地址"],
                    "title": arrs["描述信息"].myReplace('@抖音小助手', '')
                };
                setTimeout(function(){
                    $.ajax({
                        type: "post",
                        url: "https://user.api.it120.cc/user/apiExtNews/save",
                        headers: { 'X-Token': window.localStorage.getItem("Token") || '' },
                        data: data,
                        dataType: "json",
                        success: function (response) {
                           console.log(response.msg)
                        }
                    });
                    console.log(arrs["视频地址"]);
                },j*500)
                
            }
        };
        function ArrRemove() {
            var arr  = vue._data.newsList;
            for (let j = 0; j < arr.length; j++) {
                let id = arr[j].id;
                setTimeout(function () {
                    $.ajax({
                        type: "post",
                        url: "https://user.api.it120.cc/user/apiExtNews/del",
                        headers: { 'X-Token': window.localStorage.getItem("Token") || '' },
                        data: { id: id },
                        dataType: "json",
                        success: function (response) {
                            console.log(response.msg)
                        }
                    });
                }, j * 500)

            }
        }
    </script>
</body>

</html>