<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <title>cosplay标签管理</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/2.0.0/style/weui.min.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div id="app">
        <br />
        <form action="" @submit.prevent="submit">
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">名字</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" v-model="form.name" placeholder="名字">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">头像</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" v-model="form.icon" placeholder="头像" type="text">
                    </div>
                    <div class="weui-cell__ft" v-if="form.icon">
                        <img height="27" style="outline: 1px solid #eee;" :src="form.icon" />
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">排序</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" v-model="form.paixu" placeholder="排序">
                    </div>
                </div>
                <div class="weui-cell weui-cell_switch">
                    <div class="weui-cell__bd">启用</div>
                    <div class="weui-cell__ft">
                        <input class="weui-switch" type="checkbox" v-model="form.isUse">
                    </div>
                </div>

            </div>
            <div class="weui-btn-area">
                <button class="weui-btn weui-btn_primary" type="submit">{{form.id?'修改':'添加'}}</button>
            </div>
        </form>
        <div class="weui-panel">
            <div class="weui-panel__hd">({{categorylist.length}})</div>
            <div class="weui-panel__bd">
                <div class="weui-form-preview" v-for="(e,index) in categorylist" :key="index">
                    <div class="weui-form-preview__bd">
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">标题</label>
                            <span class="weui-form-preview__value">{{e.name}}</span>
                        </div>
                        <div class="weui-form-preview__item" style="align-items: unset;">
                            <label class="weui-form-preview__label">头像</label>
                            <span class="weui-form-preview__value">
                                <a class="imgview" :href="e.icon" target="_blank"><img width="50" v-lazy="e.icon"
                                        alt=""></a>
                            </span>
                        </div>

                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">启用</label>
                            <span class="weui-form-preview__value">{{e.isUse}}</span>
                        </div>

                    </div>
                    <div class="weui-form-preview__ft">
                        <button class="weui-form-preview__btn weui-form-preview__btn_default"
                            @click="edit(index)">编辑</button>
                        <button type="button" class="weui-form-preview__btn weui-form-preview__btn_primary"
                            @click="rem(index)">删除</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    <script src="https://cdn.bootcss.com/vue-lazyload/1.3.2/vue-lazyload.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="weui.min.js"></script>
    <script>
        Vue.use(VueLazyload, {
            attempt: '1',
            loading: 'https://cosplay-1254176432.cos.ap-shanghai.myqcloud.com/img/load.jpg',
            error: 'https://cosplay-1254176432.cos.ap-shanghai.myqcloud.com/img/errload.jpg'
        });
        var vue = new Vue({
            el: '#app',
            data: {
                categorylist: [],
                loading: null,
                form: {
                    paixu: 0,
                    isUse: true,
                }
            },
            methods: {
                checkToken() {
                    var vm = this;
                    $.ajax({
                        type: "get",
                        url: "https://user.api.it120.cc/user/checkToken",
                        headers: { 'X-Token': localStorage.getItem("Token") || '' },
                        dataType: "json",
                        success: function (response) {
                            if (response.code == 0) {
                                vm.getnews();
                            } else {
                                location.href = "/";
                            }
                        }
                    });
                },
                getnews() {
                    var vm = this;
                    var data = {
                        page: 1,
                        pageSize: 10000
                    };
                    vm.loading = weui.loading('loading');
                    $.ajax({
                        type: "post",
                        url: "https://user.api.it120.cc/user/apiExtNewsCategory/list",
                        headers: { 'X-Token': localStorage.getItem("Token") || '' },
                        data: data,
                        dataType: "json",
                        success: function (res) {
                            console.log(res)
                            if (res.code === 0) {
                                vm.categorylist = res.data;
                                vm.loading.hide();
                            } else {
                                weui.topTips(res.msg);
                            }

                        }
                    });
                },
                submit() {
                    var vm = this;
                    var data = this.form;
                    if (!data.name || !data.icon) {
                        weui.topTips('填写必要信息');
                        return;
                    };
                    vm.loading = weui.loading('提交中');
                    $.ajax({
                        type: "post",
                        url: "https://user.api.it120.cc/user/apiExtNewsCategory/save",
                        headers: { 'X-Token': localStorage.getItem("Token") || '' },
                        data: data,
                        dataType: "json",
                        success: function (response) {
                            vm.loading.hide();
                            if (response.code == 0) {
                                weui.alert('成功', function () {
                                    location.reload();
                                });
                            } else {
                                weui.topTips(response.msg);
                            }
                        }
                    });


                },
                edit(index) {
                    window.scrollTo(0, 0);
                    this.form = this.categorylist[index];
                },
                rem(index) {
                    var vm = this;
                    weui.confirm(`确定删除？`, {
                        title: '警告',
                        buttons: [{
                            label: '取消',
                            type: 'default',
                            onClick: function () {
                                console.log('no')
                            }
                        }, {
                            label: '删除',
                            type: 'primary',
                            onClick: function () {
                                vm.loading = weui.loading('删除中');
                                $.ajax({
                                    type: "post",
                                    url: "https://user.api.it120.cc/user/apiExtNewsCategory/del",
                                    headers: { 'X-Token': localStorage.getItem("Token") || '' },
                                    data: { id: vm.categorylist[index].id },
                                    dataType: "json",
                                    success: function (response) {
                                        vm.loading.hide();
                                        if (response.code == 0) {
                                            weui.alert('删除成功', function () {
                                                location.reload();
                                            });
                                        } else {
                                            weui.topTips(response.msg);
                                        }
                                    }
                                });
                            }
                        }]
                    });
                }
            },
            mounted() {
                this.checkToken();
            },
        })
    </script>
</body>

</html>
