<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <title>管理</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/2.0.0/style/weui.min.css">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            overflow: hidden;
        }

        .page {
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            text-align: center;
            line-height: 100vh;
            color: #000;
        }
    </style>
</head>

<body>
    <div id="app">
        <div v-show="show" style="display:none">
            <div v-for="i in 10" v-if="ishash(i)" :style="`background:rgba(0, 0, 0, 0.${i})`" @click="changehash(i)"
                class="page">page{{i}}</div>
        </div>
    </div>
    <!-- <script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script> -->
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="weui.min.js"></script>
    <script>
        var vue = new Vue({
            el: '#app',
            data: {
                show: false,
                hash: window.location.hash || "#page1"
            },
            methods: {
                ishash(i) {
                    return this.hash === "#page" + i
                },
                changehash(i) {
                    if (i < 10) {
                        const hash = `#page${i + 1}`;
                        
                        window.location.hash = hash;
                    }

                }
            },
            mounted() {
                this.show = true;
                window.onhashchange = (e)=>{
                    console.log(e)
                    this.hash = window.location.hash;
                };
            }
        })




// localStorage.getItem("key");
// localStorage.removeItem("key");
    </script>
</body>

</html>